@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: "Poppins","Prompt", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html,
body {
  background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-watercolor-background_361591-2653.jpg?w=996&t=st=1724997763~exp=1724998363~hmac=10d724afc0a0f84f4443c4725ff6178f69529c5399675b2247ee86435a170a5e);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: auto;
  min-height: 100vh;
  overflow-x: hidden;
  color: #3f3f3f;

}
.welcome{
  background: #51cde9;
  color: #2d2d2d;
}
a {
  color: inherit;
  text-decoration: none;
}
.link-button {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.link-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgb(130, 0, 0);
}
.navcustom {
  transition: all 0.3s ease;
  z-index: 1;
}

/* Styles for small screens (mobile) */
@media (max-width: 991px) {
  .navcustom {
    position: fixed;
    top: 56px;
    left: -200px;
    width: 200px;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }

  .navbar-collapse.show .navcustom {
    left: 0;
    /* Show when navbar is expanded */
  }

  .navcustom .nav-link {
    padding: 10px 0;
    display: block;
  }
}

/* Styles for large screens (desktop) */
@media (min-width: 992px) {
  .navcustom {
    display: flex;
    align-items: center;
  }

  .navcustom .nav-link {
    position: relative;
    padding: 10px 15px;
  }

  .navcustom .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #007bff;
    transition: all 0.3s ease;
  }

  .navcustom .nav-link:hover::after {
    width: 100%;
    left: 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}